* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color:rgb(244, 67, 54);
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color:red;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  z-index: 1000;
  top: 0;
  position: sticky;
}
.header span{
  color: red;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: black;
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 575px){
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 12px;
    height: 40px;
    max-width: 100%;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: red;
  bottom: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: red;
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(120vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing span{
  color: rgb(244, 67, 54);
  font-weight: bold;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: normal;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 326.5px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  margin-top: 50px;
  position: relative;
  width: 430px;
  border-radius: 50%;
  background-color: white;
  
  
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

.landing .go-down {
  color: red;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* Start Testimonials */
.testimonials {
  align-items: center;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
}
.testimonials .box {
  align-items: center;
  width: 60%;
  margin-left: 200px;
  padding-left: 160px;
  background-color: #ececec;
}

.testimonials .box img {
  padding-top: 15px;
  width: 160px;
  align-items: center;
  border-radius:20px;

}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
  width: 75%;
}
@media (max-width: 991px) {
  .testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 40px;
}
  .testimonials .box p {
    text-align: center;
    width: 75%;

  }
.testimonials .box {
  align-items: center;
  max-width:100%;
  margin-left:0px;
  padding-left:0px;
  background-color: white;
}
}
@media (max-width: 767px) {
  .testimonials .container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 40px;
}
  .testimonials .box p {
    text-align: center;
    width: 75%;

  }
.testimonials .box {
  align-items: center;
  max-width:100%;
  margin-left:0px;
  padding-left:0px;
  background-color: white;
}
  .testimonials .box h3 {
    margin: 0 0 10px;
  }
}
@media (max-width: 575px) {
  .testimonials .container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}
  .testimonials .box p {
    text-align: center;
    width: 75%;

  }
.testimonials .box {
  align-items: center;
  max-width:100%;
  margin-left:0px;
  padding-left:0px;
  background-color: white;
}
  .testimonials .box h3 {
    margin: 0 0 10px;
  }
}

/* End Testimonials */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color:rgb(244, 67, 54);
  position: absolute;
  width: 0;
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover::before {
  width: 100%;
}
.services .box > i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}
.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: rgb(244, 67, 54);
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color:rgb(244, 67, 54);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: rgb(244, 67, 54);
}
/* End Services */
/* Start Skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skill h3 span {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: rgb(244, 67, 54);
}
.our-skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color:rgb(244, 67, 54);
}
/* End Skills */
/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: rgb(245, 245, 245);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* End Features */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 27px;
  margin: 0 0 20px;
}
.footer .box h3 span{
  color:rgb(244, 67, 54) ;

}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  margin-left:15px;
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .instagram:hover {
  background-color: rgb(218, 96, 140);
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: rgb(244, 67, 54);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: rgb(244, 67, 54);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
@media (max-width: 767px) {
  .footer .footer-gallery img {
    display: none;
  }
}
@media (max-width: 991px) {
  .footer .footer-gallery img {
    display: none;
  }
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* End Animation */

 
